@use '../sass-utils/variables'as var;

body {
    background-color: var(--clr-primary-cream);
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;

    max-inline-size: 375px;
    margin: 0 25px;
    border-radius: .5rem;

    overflow: hidden;

    background-color: var(--clr-neutral-white);

    @media #{map-get(var.$media-queries, "tablet")} {
        max-inline-size: 525px;
        flex-direction: row;
        margin: 2rem;
    }

    .product-image {
        order: -1;

        @media #{map-get(var.$media-queries, "tablet")} {
            flex-basis: 50%;
        }
    }

    .card-content {
        padding: 1.5em;

        @media #{map-get(var.$media-queries, "tablet")} {
            padding: 1.375em;
            flex-basis: 50%;
        }
    }

    .header {
        @media #{map-get(var.$media-queries, "tablet")} {
            margin-block-end: 1rem;
        }
        .top {
            display: flex;
            flex-direction: column;
            justify-content: center;
            

            .product-class {
                order: -1;
                font-size: .875rem;
                font-weight: map-get($map: var.$font-weights, $key: "regular");
                color: var(--clr-neutral-dark-grayish-blue);
                text-transform: uppercase;
                letter-spacing: .25rem;
                margin-block-end: .625rem;

                @media #{map-get(var.$media-queries, "tablet")} {
                    font-size: .5rem;
                    margin-block-end: .75rem;
                }
                
                @media #{map-get(var.$media-queries, "desktop")} {
                    font-size: .75rem;
                    margin-block-end: .75rem;
                }
            }

            .product-name {
                font-family: 'Fraunces', serif;
                font-weight: map-get($map: var.$font-weights, $key: "bold");
                font-size: 2.125rem;
                color: var(--clr-neutral-very-dark-blue);
                line-height: 1;

                @media #{map-get(var.$media-queries, "tablet")} {
                    font-size: 1.375rem;
                    padding-inline-end: 2rem;
                }
                
                @media #{map-get(var.$media-queries, "desktop")} {
                    font-size: 1.75rem;
                }
            }
        }
    }

    .description {
        font-family: 'Montserrat', sans-serif;
        color: var(--clr-neutral-dark-grayish-blue);
        margin-block-end: 1.5rem;

        @media #{map-get(var.$media-queries, "tablet")} {
            font-size: .625rem;
            line-height: 1.625;
            margin-block-end: 1rem;
        }
        
        @media #{map-get(var.$media-queries, "desktop")} {
            font-size: .75rem;
            line-height: 1.5;
            margin-block-end: 1.125rem;
        }
    }

    .pricing {
        display: flex;
        gap: 1.25rem;
        align-items: center;
        max-inline-size: 50%;
        margin-block-end: 1rem;

        @media #{map-get(var.$media-queries, "tablet")} {
            gap: 1rem;
            max-inline-size: none;
        }

        .new {
            text-decoration: none;
            font-family: 'Fraunces', serif;
            font-size: 2.125rem;
            color: var(--clr-primary-dark-cyan);
            font-weight: map-get($map: var.$font-weights, $key: "bold");

            @media #{map-get(var.$media-queries, "tablet")} {
                font-size: 1.375rem;
            }

            @media #{map-get(var.$media-queries, "desktop")} {
                font-size: 2rem;
            }
        }

        .old {
            color: var(--clr-neutral-dark-grayish-blue);
            font-size: .875rem;

            @media #{map-get(var.$media-queries, "tablet")} {
                font-size: .625rem;
            }

            @media #{map-get(var.$media-queries, "desktop")} {
                font-size: .875rem;
            }
        }
    }
        
        .button {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: .5rem;
            border-radius: .5rem;
            padding: 1em;
            
            @media #{map-get(var.$media-queries, "tablet")} {
                font-size: .625rem;
                border-radius: .3rem;
            }
            
            @media #{map-get(var.$media-queries, "desktop")} {
                padding: 1em;
                font-size: .75rem;
            }

            &[data-type="primary"] {
                background-color: var(--clr-primary-dark-cyan);
                color: var(--clr-neutral-white);
                text-decoration: none;
                transition: background-color 350ms ease-in-out;

                &:hover,
                &:focus {
                    /*158, 36%, 37%*/
                    --h: 158;
                    --s: 36%;
                    --l: 22.5%;
                    background-color: hsl(var(--h), var(--s), var(--l));
                }
            }

            .icon {
                aspect-ratio: 1;
                inline-size: 1.125em;
            }

            span {
                font-weight: map-get($map: var.$font-weights, $key: "regular");
            }
        }
}