$clr-primary-soft-red: hsl(10, 79%, 65%);
$clr-primary-cyan: hsl(186, 34%, 60%);
$clr-neutral-dark-brown: hsl(25, 47%, 15%);
$clr-neutral-medium-brown: hsl(28, 10%, 53%);
$clr-neutral-cream: hsl(27, 66%, 92%);
$clr-neutral-very-pale-orange: hsl(33, 100%, 98%);

$colors: (
    "primary": (
        "soft-red": hsl(10, 79%, 65%),
        "cyan": hsl(186, 34%, 60%),
    ),
    "neutral": (
        "dark-brown": hsl(25, 47%, 15%),
        "medium-brown": hsl(28, 10%, 53%),
        "cream": hsl(27, 66%, 92%),
        "very-pale-orange": hsl(33, 100%, 98%),
    ),
);